* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: #1b1f23;
  font-family: Helvetica, sans-serif;
  
}
.header{
  height: 272px;
  width: 100%;
  background-image: url(img/SPORTS-800x280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header h1{
  padding: 90px 0 90px 0;
  text-align: center;
  list-style-type: none;
  font-size: 92px;
  color: orange;
  text-shadow: 4px 4px black;

}



.date{
  text-decoration: underline;
  margin-bottom: 0;
}

.timeline {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.container .left{
  
 padding: 10px 40px 10px 200px;
 image-orientation: right;
}
.container .right{
  padding: 10px 200px 10px 40px;
 }

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid orange;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 10px 15px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
.content a{
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-style: italic;
  }

.container :hover{
background-color: orange;}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    
  }
  

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}